body {
  max-width: 100%;
  margin: 0;
  background-color: #2A2B2E;
  color: #C0E2C4;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main-div-element */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main-image {
  width: 1400px;
  min-width: 100%
}

.toFind {
  width: 23%;
}

.items-to-find {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.main-input {
  margin-bottom: 10%;
  width: 100%
}

.main-div {
  padding-left: 20%;
  display: flex;
}

.input-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #2A2B2E;
}

.easy-dif {
  color: rgb(83, 230, 83);
}


.normal-dif {
  color: orange;
}

.hard-dif {
  color: red;
}

#leader-board {
  padding-top: 10vw;
}

#game-start-div {
  background-color: #555555;
  padding: 1.2vw;
  border-radius: 0.3rem;
}

button {
  width: 100%;

  background-color: white;
  border-radius: 0.2rem;
  border: 0.05rem solid #2A2B2E;

}

li {
  border: 0.1rem solid white;
  margin-top: 0.7rem;
  background-color: #040404;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.3rem;
  cursor: pointer;
}

table {
  margin-top: 3rem;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;


}

form {
  /* margin-top: 5vw; */
  font-size: 1.4vw;
}


th,
td {
  padding: 0.3rem;
}

h2 {
  font-size: 1.8vw;
}

h1 {
  font-size: 3vw;
}